<app-navigation></app-navigation>


<ion-row>
    <ion-col></ion-col>
    <ion-col size="10">
  
      <ion-text style="text-align: center" color="secondary  ">
          <h1>Task</h1>
      </ion-text>


      <ion-button [routerLink]="['/task']" color="secondary" class="full-width" >Ajouter une tache</ion-button>

    </ion-col>
    <ion-col></ion-col>
</ion-row>



<ion-item>
    <ion-label>Etat :</ion-label>
    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Selectionner un état" (ionChange)="changeFiltre($event)">
      <ion-select-option value="0" selected> All</ion-select-option>
      <ion-select-option value="1"> En attente </ion-select-option>
      <ion-select-option value="2"> En cours</ion-select-option>
      <ion-select-option value="3"> Fini</ion-select-option>
    </ion-select>
  </ion-item>

<ion-content>


    <div style="overflow: auto" *ngFor="let item of tasks">

      <ion-card>

      <ion-item style="width: 100%;">
        <ion-row style="width: 100%;">
            <ion-col size="8" style="width: 100%;">
                <ion-card-title>{{ item.name }}</ion-card-title>
            </ion-col>
            <ion-col size="1" style="width: 100%;">

                <ion-icon *ngIf="item.status == '1'"  style="color:red" src='../../assets/hourglass.svg'></ion-icon>
                <ion-icon *ngIf="item.status == '2'" style="color:orange" src='../../assets/clock.svg'></ion-icon>
                <ion-icon *ngIf="item.status == '3'" style="color:green" src='../../assets/Finish.svg'></ion-icon>
            </ion-col>
            <ion-col size="3" style="width: 100%;">
                <a [routerLink]="['/task-modify/',item.id]">Détail</a>
            </ion-col>
        </ion-row>
      </ion-item>

      <ion-card-content>
        <ion-row>
            <ion-col size="7" style="width: 100%; border-right: 1px solid #a2a4ab;">

                {{ item.description }}
                
            </ion-col>
            <ion-col size="5" style="width: 100%;">
                <h3>Start Date :</h3>
                <a>{{ item.start_date }}</a>    
                <h3>Stop Date :</h3>
                <a>{{ item.stop_date }}</a>  
            </ion-col>
        </ion-row>

        
  
      </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
    



