<app-navigation></app-navigation>

<ion-content>
    <ion-item>
        <ion-label>Groupe : </ion-label>

        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Selectionner un groupe" (ionChange)="onChangeGroup($event)">
            <ion-select-option *ngFor="let groupe of groupes">{{groupe.name}}</ion-select-option>
        </ion-select>
    </ion-item>
    
    <ion-content>


  <div style="overflow: auto" *ngFor="let item of reviews">

    <ion-card>


    <ion-card-content>
      <ion-row>

          <ion-item style="width: 100%;">
              <ion-row style="width: 100%;">
                  <ion-col size="8" style="width: 100%;">
                      <ion-card-title>{{ item.name }}</ion-card-title>
                  </ion-col>
                  <ion-col size="4" style="width: 100%;">
                      <a style="font-size: 12px" [innerHTML]="date(item)"></a>
                  </ion-col>
              </ion-row>
            </ion-item>

          <ion-card-content>
              <ion-row>
                  <ion-col size="9" style="width: 100%; border-right: 1px solid #a2a4ab;">
                      <a>Tache : </a>{{ item.task_done }}
                      <a>Difficulté :</a> {{ item.encountered_difficulties }}
                  </ion-col>
                  <ion-col size="3" style="width: 100%;">
                    <ion-img *ngIf="item.feeling == '1'" style="width: 70%; margin-left: 35%; color:#ff0000" src='../../assets/sad-red.svg'></ion-img>
                    <ion-img *ngIf="item.feeling == '2'" style="width: 70%; margin-left: 35%; color:#ffa500" src='../../assets/emoticon-square-orange.svg'></ion-img>
                    <ion-img *ngIf="item.feeling == '3'" style="width: 70%; margin-left: 35%; color:#008000" src='../../assets/smiling-green.svg'></ion-img>
                      
                  </ion-col>
              </ion-row>
          </ion-card-content>
      </ion-row>

      

    </ion-card-content>
    </ion-card>
  </div>
</ion-content>