<ion-img src='../../assets/YDaysApp.png' style="height: 20%; margin: 5%"></ion-img>


<ion-content padding >
  <ion-item *ngIf="!(authService.user | async)">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item *ngIf="!(authService.user | async)">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"  [(ngModel)]="password"></ion-input>
</ion-item>

<ion-row style="margin: 10%">
  <ion-col size="6">
  <ion-button style="font-size: 12px;" *ngIf="!(authService.user | async)" class="full-width" color="secondary" (click)="login()">Connexion</ion-button>
  </ion-col>
  <ion-col size="6">
  <ion-button style="font-size: 12px;" *ngIf="!(authService.user | async)" class="full-width" color="secondary" (click)="signup()">Inscription</ion-button>
  </ion-col>
</ion-row>
  
</ion-content>
