<ion-row>
    <ion-col ></ion-col>
    <ion-col size="8">

        <ion-text style="text-align: center" color="secondary">
            <h1>Selection</h1>
            <h2> Pôle et Project</h2>
        </ion-text>

      <ion-item>
        <ion-label>Pôle :</ion-label>
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Selectionner un pôle" (ionChange)="onChangePole($event)">
          <ion-select-option *ngFor="let pole of poles">{{pole.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    
    </ion-col>
    <ion-col ></ion-col>
</ion-row>



  <ion-content>
    <ion-radio-group [(ngModel)] = "groupeSelect">
    <div style="overflow: auto" *ngFor="let item of items">
        <ion-card>

        <ion-item style="width: 100%;">
            <ion-row style="width: 100%;">
                <ion-col size="9" style="width: 100%;">
                    <ion-card-title>{{ item.name }}</ion-card-title>
                </ion-col>
                <ion-col size="3" style="width: 100%;">
                    <ion-radio  vertical-align= "middle" height= "100%" display= "block" [value]="item.name"></ion-radio>          
                </ion-col>
            </ion-row>
          </ion-item>

        <ion-card-content>
            <ion-row>
                <ion-col size="7" style="width: 100%; border-right: 1px solid #a2a4ab;">
                    {{ item.description }}
                    
                </ion-col>
                <ion-col size="5" style="width: 100%;">
                    <h3>Compétence :</h3>
                    <a>{{ item.skill }}</a>    
                </ion-col>
            </ion-row>
        </ion-card-content>
        </ion-card>
      </div>
      </ion-radio-group>
    </ion-content>
    

  <ion-button color="secondary" (click)="finalSignupPole()">S'inscrire</ion-button>
