
  <app-navigation></app-navigation>
  


<ion-content padding>

    <ion-row>
        <ion-col></ion-col>
        <ion-col size="10">
      
          <ion-text style="text-align: center" color="secondary  ">
              <h1>Création de tâche</h1>
          </ion-text>
      
        </ion-col>
        <ion-col></ion-col>
    </ion-row>

    <ion-item>
        <ion-label position="floating">Nom</ion-label>
        <ion-input [(ngModel)]="task.name"></ion-input>
      </ion-item>
  
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input [(ngModel)]="task.description"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Date de début</ion-label>
      <ion-datetime [(ngModel)]="task.start_date" display-format="MMM DD, YYYY"></ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Date de fin</ion-label>
        <ion-datetime [(ngModel)]="task.stop_date" display-format="MMM DD, YYYY"></ion-datetime>
      </ion-item>

      
    <ion-button expand="block" [routerLink]="['/tasks-manager']" (click)="addTask()" color="secondary" style="margin: 10% 0%">Envoyé</ion-button>
  </ion-content>

