<app-navigation></app-navigation>

<ion-row>
  <ion-col></ion-col>
  <ion-col size="10">

    <ion-text style="text-align: center" color="secondary  ">
        <h1>Review</h1>
    </ion-text>

  </ion-col>
  <ion-col></ion-col>
</ion-row>


<ion-content padding>

    <div class="fixed" scrollY="true" style="height: 90%">
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="10">

          <ion-item>
            <ion-range [(ngModel)]="review.feeling" min="1" max="3" step="1" snaps="true"></ion-range>
            <ion-icon slot="start" src='../../assets/sad.svg'></ion-icon>
            <ion-icon slot="end" src='../../assets/happy.svg'></ion-icon>
          </ion-item>
        

          <ion-item>
              <ion-label position="floating">Tâches accomplies</ion-label>
              <ion-textarea [(ngModel)]="review.task_done" ngDefaultControl>
              </ion-textarea>
            </ion-item>


          <ion-item>
            <ion-label position="floating">Difficultés rencontrées</ion-label>
            <ion-textarea [(ngModel)]="review.encountered_difficulties"></ion-textarea>
          </ion-item>
            
          <ion-button [disabled]="this.isSend" expand="block" (click)="send()" color="secondary" style="margin: 10% 0%">Envoyé</ion-button>
    
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </div>



</ion-content>
