
  


<ion-content padding>

  <ion-row>
      <ion-col></ion-col>
      <ion-col size="10">
    
        <ion-text style="text-align: center" color="secondary  ">
            <h1>Modification de tâche</h1>
        </ion-text>
    
      </ion-col>
      <ion-col></ion-col>
  </ion-row>

  <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input [(ngModel)]="task.name"></ion-input>
    </ion-item>

  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-input [(ngModel)]="task.description"></ion-input>
  </ion-item>

  <ion-text  style="color:rgb(138, 138, 138)">
    <h4>Date de début : 
        <a style="color:rgb(138, 138, 138)"> 
        {{task.start_date}}
        </a>
        </h4>
</ion-text>

  <ion-item>
    <ion-label position="floating">Date de début effective</ion-label>
    <ion-datetime [(ngModel)]="task.start_date_effective" display-format="MMM DD, YYYY"></ion-datetime>
  </ion-item>

  <ion-text  style="color:rgb(138, 138, 138)">
    <h4>Date de fin : 
        <a style="color:rgb(138, 138, 138)"> 
            {{task.stop_date}}
            </a>
    </h4>
</ion-text>
  <ion-item>
      <ion-label position="floating">Date de fin effective</ion-label>
      <ion-datetime [(ngModel)]="task.stop_date_effective" display-format="MMM DD, YYYY"></ion-datetime>
    </ion-item>
  


    <ion-list>
        <ion-radio-group [(ngModel)]="task.status" name="role">
          <ion-list-header>
            Status
          </ion-list-header>  

                <ion-item>
                  <ion-icon  style="color:red" src='../../assets/hourglass.svg'></ion-icon>
                  <ion-label style="margin: 0% 5%;" >En Attente  </ion-label>                        
                  <ion-radio color="success" value="1"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-icon  style="color:orange" src='../../assets/clock.svg'></ion-icon>
                    <ion-label style="margin: 0% 5%;">En Cours </ion-label>
                  <ion-radio color="success" value="2" ></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-icon  style="color:green" src='../../assets/Finish.svg'></ion-icon>
                    <ion-label style="margin: 0% 5%;">Fini </ion-label>
                    <ion-radio color="success" value="3" ></ion-radio>
                  </ion-item>

      </ion-radio-group>
    </ion-list>

    
    <ion-list>
        <ion-row>
            <ion-col size="6">
              <ion-button  [routerLink]="['/tasks-manager']" color="secondary" class="full-width" >Annuler</ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button (click)="deleteTask()" color="secondary" class="full-width" >Delete</ion-button>
            </ion-col>
        </ion-row>
    </ion-list>

    <ion-button expand="block" (click)="modifyTask()" color="secondary" style="margin: 0% 0%">Modifier</ion-button>

  </ion-content>



