<ion-row>
    <ion-col></ion-col>
    <ion-col size="10">
  
      <ion-text style="text-align: center" color="secondary  ">
          <h1>Inscription</h1>
      </ion-text>

    </ion-col>
    <ion-col></ion-col>
</ion-row>


<div class="fixed" scrollY="true" style="height: 90%">
<ion-row>
  <ion-col></ion-col>
  <ion-col size="10">


    <ion-item>
      <ion-label position="floating">Prénom</ion-label>
      <ion-input [(ngModel)]="user.last_name" ngDefaultControl>
      </ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating" >Nom</ion-label>
      <ion-input [(ngModel)]="user.first_name" ngDefaultControl></ion-input>
    </ion-item>

      <ion-list>
        <ion-item >
          <ion-label position="floating">Classe </ion-label>
          <ion-select [(ngModel)]="user.formation" text-color="black" interface="action-sheet" placeholder="Votre classe" name="formation">
            <ion-select-option value="B1">B1</ion-select-option>
            <ion-select-option value="B2">B2</ion-select-option>
            <ion-select-option value="B3">B3</ion-select-option>
            <ion-select-option value="M1">M1</ion-select-option>
            <ion-select-option value="M2">M2</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

        <ion-list>
          <ion-radio-group [(ngModel)]="user.role" name="role">
            <ion-list-header>
              Fonctions
            </ion-list-header>  

                  <ion-item>
                    <ion-label>Membre </ion-label>
                    <ion-radio color="success" value="membre"></ion-radio>
                  </ion-item>

                  <ion-item>
                    <ion-label>Chef de project </ion-label>
                    <ion-radio color="success" value="chefProject" ></ion-radio>
                  </ion-item>

                  <ion-item>
                      <ion-label>Chef de Pole </ion-label>
                      <ion-radio color="success" value="chefPole" ></ion-radio>
                    </ion-item>

        </ion-radio-group>
      </ion-list>



      <ion-list *ngIf="user.role == 'chefPole'">
        <ion-radio-group [(ngModel)]="user.roleAutre" name="role">
          <ion-list-header>
            Autres Fonctions :
          </ion-list-header>  

                <ion-item>
                  <ion-label>Membre </ion-label>
                  <ion-radio color="success" value="membre"></ion-radio>
                </ion-item>

                <ion-item>
                  <ion-label>Chef de project </ion-label>
                  <ion-radio color="success" value="chefProject" ></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>Aucun </ion-label>
                    <ion-radio color="success" value="aucun" ></ion-radio>
                </ion-item>

      </ion-radio-group>
    </ion-list>

    <ion-item *ngIf="user.roleAutre == 'aucun' && user.role == 'chefPole'">
        <ion-label>Pôle :</ion-label>
        <ion-select [interfaceOptions]="customPopoverOptions" [(ngModel)]="user.pole" interface="popover" placeholder="Selectionner un pôle">
          <ion-select-option *ngFor="let pole of poles">{{pole.name}}</ion-select-option>
        </ion-select>
      </ion-item>



      <ion-list *ngIf="user.role == 'chefProject' || (user.roleAutre == 'chefProject' && user.role == 'chefPole' )">
              <ion-list-header>
                  Groupes :
                </ion-list-header>
              <ion-row>
                  <ion-col size="6">
              <ion-button (click)="finalSignupCreationGroup()" color="secondary" class="full-width" >Creation</ion-button>
                  </ion-col>
                  <ion-col size="6">
                      <ion-button (click)="finalSignup()" color="secondary" class="full-width" >Rejoindre</ion-button>
                  </ion-col>
              </ion-row>
      </ion-list>


      <ion-button (click)="finalSignup()" color="secondary" class="full-width" 
      *ngIf="user.role == 'membre'|| user.role == '' || user.role == 'chefPole' && 
      ( user.roleAutre == 'membre' || user.roleAutre == 'aucun')" 
      >validation</ion-button>

  </ion-col>
  <ion-col></ion-col>
</ion-row>
</div>
