<ion-app>
    <app-navigation></app-navigation>

            <ion-text style="text-align: center" color="secondary  ">
                    <h1>{{groupe.name}}</h1>
            </ion-text>
        
            <ion-text style="text-align: center">
                    <h4>Pole : {{groupe.pole}}</h4>
            </ion-text>
        
        
            <ion-row>
                <ion-col size="9">
                        <ion-text  color="primary">
                                <h4>Description :</h4>
                        </ion-text>

                </ion-col>
                <ion-col>
                                <ion-fab-button color="secondary" (click)="encodedQRCode()"><ion-icon src='../../assets/qr-code.svg'></ion-icon></ion-fab-button>

                </ion-col>
                </ion-row>
    <ion-item>

            <div> 
                {{groupe.description}}
            </div>
        </ion-item>


    

      <ion-text  color="primary">
          <h4>Compétence :</h4>

      </ion-text>
      <ion-item>
              <div> 
                {{ groupe.skill }}
              </div>
      </ion-item>


      <ion-text  color="primary">
        <h4>Membre :</h4>
</ion-text>


<ion-content>
  <div style="overflow: auto" *ngFor="let item of membres">
    <ion-card>
      <ion-item style="width: 100%;">     
        <ion-row style="width: 100%;">
            <ion-col size="9" style="width: 100%;">
                <ion-card-title>{{ item.last_name }}  {{ item.first_name }}</ion-card-title>
            </ion-col>
        </ion-row>
      </ion-item>
    </ion-card>
  </div>
</ion-content>


</ion-app>




