<div *ngIf="!(this.role == 'chefPole' && this.roleAutre == 'aucun') && this.notif" (click)="this.router.navigate(['review'])" style="background: rgba(0, 162, 149, 0.5); text-align: center; padding: 1%" >
    Oublie pas de remplir la review
    <ion-icon  src='../../assets/ux.svg'></ion-icon>
</div>
  
    
    
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="arrow-dropup"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button (click)="this.router.navigate(['home'])"><ion-icon src='../../assets/homepage.svg'></ion-icon></ion-fab-button>

    <ion-fab-button *ngIf="this.notif && this.role !== 'chefPole'" (click)="this.router.navigate(['review'])">
    <ion-icon src='../../assets/ux.svg'></ion-icon></ion-fab-button>


    <ion-fab-button *ngIf="this.role == 'chefPole'" (click)="this.router.navigate(['review-list'])">
    <ion-icon src='../../assets/ux.svg'></ion-icon></ion-fab-button>
    
    
    <ion-fab-button (click)="this.router.navigate(['tasks-manager'])"><ion-icon src='../../assets/trello.svg'></ion-icon></ion-fab-button>
    <ion-fab-button (click)="this.router.navigate(['qrcode'])"><ion-icon src='../../assets/qr-code.svg'></ion-icon></ion-fab-button>
    <ion-fab-button (click)="logout()"><ion-icon src='../../assets/logout.svg'></ion-icon></ion-fab-button>
  </ion-fab-list>
</ion-fab>