 
 
 
 <ion-app class="weather-home">

    <app-navigation></app-navigation>

  <ion-img src='../../assets/YDaysApp.png' style="height: 14%; padding: 2% 2%"></ion-img>
  
    <ion-row>
        <ion-col size="4">
            <ion-card style="background: #fafafa">
                <ion-card-header *ngIf="this.groupe !== ''; else Qrcode">
                  <ion-card-subtitle style="text-align: center; font-size: 12px;" color="secondary  " >Groupe</ion-card-subtitle>
                  <ion-img (click)="accessGroup()" src='../../assets/Groupe.svg'></ion-img>
                </ion-card-header>
              </ion-card>
        </ion-col>
        
        <ion-col size="4">
            <ion-card style="background: #fafafa">
                <ion-card-header *ngIf="this.notif || this.role == 'chefPole'; else Qrcode">
                    <ion-card-subtitle style="text-align: center; font-size: 12px;" color="secondary  " >Review</ion-card-subtitle>
                    <ion-img *ngIf="this.role == 'chefPole'" (click)="this.router.navigate(['review-list'])" src='../../assets/ux.svg'></ion-img>
                    <ion-img *ngIf="this.role !== 'chefPole'" (click)="this.router.navigate(['review'])" src='../../assets/ux.svg'></ion-img>
                </ion-card-header>
              </ion-card>
        </ion-col>

        <ion-col size="4">
            <ion-card style="background: #fafafa">
                <ion-card-header>
                  <ion-card-subtitle style="text-align: center; font-size: 12px;" color="secondary  " >Taches</ion-card-subtitle>
                  <ion-img (click)="this.router.navigate(['tasks-manager'])" src='../../assets/trello.svg'></ion-img>
                </ion-card-header>
              </ion-card>
        </ion-col>
    </ion-row>

    <ng-template #Qrcode>
        <ion-card-header>
            <ion-card-subtitle style="text-align: center; font-size: 12px;" color="secondary">QR Code</ion-card-subtitle>
            <ion-img (click)="this.router.navigate(['qrcode'])" src='../../assets/qr-code.svg'></ion-img>
        </ion-card-header>
    </ng-template>


      <ion-item>
        <ion-label>Pôle : </ion-label>

        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Selectionner un pôle" (ionChange)="onChangePole($event)">
            <ion-select-option *ngFor="let pole of poles">{{pole.name}}</ion-select-option>
          </ion-select>
      </ion-item>

      <a style="text-align: center" [routerLink]="['/groupe-creation/false']" *ngIf="this.role == 'chefPole'" >Création groupe</a>
      



      <ion-content>

          <ion-spinner *ngIf="this.spinner" name="lines" color="primary" style="margin: 10% 35% 10% 35% ;width: 30% !important; height: 30% !important;" ></ion-spinner>

          <div *ngIf="!this.spinner">
            <div  style="overflow: auto" *ngFor="let item of items">
              <ion-card>
                <ion-item style="width: 100%;">
                  <ion-row style="width: 100%;">
                      <ion-col size="9" style="width: 100%;">
                          <ion-card-title>{{ item.name }}</ion-card-title>
                      </ion-col>
                      <ion-col size="3" style="width: 100%;">
                          <a [routerLink]="['/groupe/',item.id]">Détail</a>
                      </ion-col>
                  </ion-row>
                </ion-item>

                <ion-card-content>
        
                  <ion-row>
                      <ion-col size="7" style="width: 100%; border-right: 1px solid #a2a4ab;">
                          {{ item.description }}
                      </ion-col>
                      <ion-col size="5" style="width: 100%;">
                          <h3>Compétence :</h3>
                          <a>{{ item.skill }}</a>    
                      </ion-col>
                  </ion-row>
            
                </ion-card-content>
              </ion-card>
            </div>
          </div>
        </ion-content>

  
  </ion-app>
  