
<app-navigation *ngIf="this.isInscription == 'false'"></app-navigation>
  


<ion-content padding>

  <ion-row>
      <ion-col></ion-col>
      <ion-col size="10">
    
        <ion-text style="text-align: center" color="secondary  ">
            <h1>Création de groupe</h1>
        </ion-text>
    
      </ion-col>
      <ion-col></ion-col>
  </ion-row>

  <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input [(ngModel)]="group.name"></ion-input>
    </ion-item>

  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-input [(ngModel)]="group.description"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Compétences</ion-label>
    <ion-input [(ngModel)]="group.skill"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Pôle :</ion-label>
    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Selectionner un pôle" (ionChange)="onChangePole($event)">
      <ion-select-option *ngFor="let pole of poles">{{pole.name}}</ion-select-option>
    </ion-select>
  </ion-item>


    
  <ion-button *ngIf="this.isInscription == 'true'" expand="block"  (click)="addGroup()" color="secondary" style="margin: 10% 0%">Inscription</ion-button>

  <ion-list *ngIf="this.isInscription == 'false'" style="margin: 10%">
      <ion-row>
          <ion-col size="6">
              <ion-button  [routerLink]="['/home']" color="secondary" class="full-width" >Annuler</ion-button>
          </ion-col>
          <ion-col size="6">
              <ion-button expand="block"  (click)="addGroup()" color="secondary">Envoyé</ion-button>
          </ion-col>
      </ion-row>
  </ion-list>
</ion-content>



